<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}'s Dive Log</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor=#006F71>
<header align="center">
Welcome Back {{name}}!
</header>
<div align="center" id="container">
    {{#shownext}} <a href="/?offset={{offsetup}}">Next</a><br>{{/shownext}}

    <form action="/addentry" method="get" id="button1">
        <button type="submit">
            Add New Dive
        </button>
    </form>


    <form action="/logout" method="post" id="button2">

        <button type="submit">
            Logout
        </button>
    </form>

    {{#showprev}} <a href="/?offset={{offsetdown}}">Previous</a><br>{{/showprev}}
</div>
<ul>
    {{#diveList}}
        <li>
            <section style='border-radius: 15px 0px 0px 15px;'>
                <div>
                    <div id="one" style='border-radius: 10px 0px 0px 15px;' >Location: {{location}} <br>Dive Buddy: {{buddy}} <br>Max Depth: {{maxDepth}}ft <br>Duration: {{duration}} minutes
                        <div id="inlinetest" >
                            <form action="/editEntry" method="get">
                                <input type="hidden" name="id" value="{{id}}">
                                <button class="button" type="submit">Edit Entry</button>
                            </form>

                            <form action="/delete" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button class="button" type="submit"> Delete </button>
                            </form>

                        </div>
                    </div>
                    <div id="two">
                        Comments: {{comments}}
                    </div>
                </div>
            </section>
        </li>
    {{/diveList}}
</ul>





</body>
</html>