<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scuba Tacker</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor=#006F71>

<header>
    <br>
    <br>

    <center>Welcome To Dive Tracker<br><br>
    <img src="Scuba.png" alt="Scuba Flag"></center>
</header>
<center>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="UserName:" autofocus>
        <input type="password" name="password" placeholder="Password:">
        <button type="submit">
            Login
        </button>
    </form>
</center>

</body>
</html>